{{ template "layout_header.html" .}}
<div class="container">
    <div class="user-list">
    {{ range $_, $user := .users}}
    <div data-id="{{ $user.Id}}">
        <img src="/ui/nophoto.png" height="64" width="64"/>
        <div>
            {{ $user.Name }} {{ $user.Surname }}
            <div class="city-name">
                {{ $user.City}}
            </div>
        </div>
    </div>
    {{ else}}
    <p>No users</p>
    {{ end }}
    </div>
</div>

{{ template "layout_footer.html" " <script src=\"/ui/main.bundle.js\"></script>"}}