{{ template "header.html" .}}

<header class="fixed-top bg-light">
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-light ">
        <a class="navbar-brand" href="/">Yet Another Social Network</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="ml-auto"></div>
            {{ if .currentUser }}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fa fa-user"></span> {{ .currentUser.Name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/profile">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item js-sign-out" href="#">Sign Out</a>
                        </div>
                    </li>
                </ul>
            {{ else }}
                <a class="btn btn-outline-primary mr-2" href="/signin">Sign In</a>
                <a class="btn btn-primary" href="/signup">Sign Up</a>
            {{ end }}
        </div>
    </nav>
    </div>
</header>
